canvas{
    width: 100%;
    height: 100% ;
    touch-action: none;
}

body
{
    margin: 0;
    touch-action: none;
    background-image: radial-gradient(circle, #f4e7c4, #dce9c3, #bfebcc, #a4eadd, #93e6f2);
}
